#contBanner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(0, 73, 118);
    color: rgb(243, 252, 249);
}

#contBanner img,
#contBanner p {
    margin: 0; /* Para eliminar los márgenes por defecto */
}