.contFooter{
    background-color: rgb(0, 73, 118);
    color: rgb(243, 252, 249);
    padding: 20px;
    display: flex;
    align-items: flex-start;
    margin-top: 70px;
}

.infoEmpresa {
    width: 70%;
    display: flex;
    text-align: left; /* Alinear el texto a la izquierda */
    padding-top: 50px;
}

.infoEmpresa h1 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
}

.infoEmpresa ul {
    list-style: none;
    padding: 0;
}

.infoEmpresa li {
    display: block;
}

.infoEmpresa a {
    text-decoration: none;
    color: rgb(243, 252, 249);
    display: inline-block;
    vertical-align: middle;
    margin-left: auto; /* Ajusta el margen izquierdo para llevar los elementos a la derecha */
}

.contMapa{
    width: 30%;
}

.subFooter{
    justify-content: center;
    margin: auto;
    height: 10px;
}

#footer-placeholder {
    padding-top: 30px;
}