{%load static%}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<div class="contFooter container-fluid">
    <div class="infoEmpresa">
        <div class="subFooter">
            <h1>Servicio al cliente</h1>
            <ul>
                <li>
                    <a href="#">Preguntas Frecuentes</a>
                </li>
                <li>
                    <a href="#">Plazos y Costos de Envíos</a>
                </li>
                <li>
                    <a href="#">Cambios y Devoluciones</a>
                </li>
                <li>
                    <a href="#">Términos y Condiciones</a>
                </li>
                <li>
                    <a href="#">Contáctanos</a>
                </li>
            </ul>
        </div>
        <div class="subFooter">
            <h1>Mi cuenta</h1>
            <ul>
                <li>
                    <a href="{% url 'login' %}">Iniciar Sesión</a>
                </li>
                <li>
                    <a href="{% url 'sigin' %}">Registrarse</a>
                </li>
                <li>
                    <a href="#">Órdenes</a>
                </li>
                <li>
                    <a href="#">Mis Favoritos</a>
                </li>
            </ul>
        </div>
        <div class="subFooter">
            <h1>Sobre la empresa</h1>
            <ul>
                <li>
                    <a href="#">Quiénes Somos</a>
                </li>
                <li>
                    <a href="#">Suscríbete al Newsletter</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="contMapa">
        <div class="tituloMapa">
            <p>Encuéntranos en:</p>
        </div>
        <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14464.013697440685!2d-70.99999999999999!3d24.9999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89451ab5034cb7ab%3A0xb600ecf3df7aca4d!2sTri%C3%A1ngulo%20de%20las%20Bermudas!5e0!3m2!1ses-419!2scl!4v1714927830390!5m2!1ses-419!2scl" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>